<div class="file">
  <h2 class="filename"><%= file.filename %></h2>
  <h2 class="fileCreatedAt"><%= file.createdAt %></h2>
  <h2 class="fileUpdatedAt"><%= file.updatedAt %></h2>
  <h2 class="fileSize"><%= Math.round(file.filesize / 1024) %> KB</h2>
  <h2 class="fileType"><%= file.fileType %></h2>
  <!-- <div>
    <form action="/delete/file/:<%= file.id %>">
      <button type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="25"
          height="25"
        >
          <title>delete file</title>
          <path
            d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"
          />
        </svg>
      </button>
    </form>
    <button class="delete"></button>
  </div> -->
</div>
