<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Storage</title>
  </head>
  <body>
    <form action="/add/folder" method="POST">
      <div>
        <label for="folderName">Write folder name</label>
        <input
          type="text"
          name="folderName"
          id="folderName"
          autocomplete="off"
          required
        />
      </div>
      <input type="submit" value="Add folder" />
    </form>
    <div>
      <% folders.forEach((folder, index) => { %>
      <form action="/<%= index %>/folder" method="GET">
        <input type="submit" value="<%= folder.name %>" />
      </form>
      <% }) %>
    </div>
    <% if(selectedFolderIndex !== null && folders[selectedFolderIndex]) { %>
    <div><%= folders[selectedFolderIndex].name %></div>
    <form
      action="/<%= selectedFolderIndex %>/upload"
      method="POST"
      enctype="multipart/form-data"
    >
      <div>
        <label for="uploadFile"></label>
        <input type="file" name="uploadFile" id="uploadFile" required />
      </div>
      <input type="submit" value="submit" />
    </form>
    <% folders[selectedFolderIndex].file.forEach(file => { %>
    <h1><%= file.filename %></h1>
    <h1><%= file.filesize / 1024 %>KB</h1>
    <h1><%= file.updatedAt %></h1>
    <h1><%= file.filePath %></h1>
    <% }) %> <% } %>
  </body>
</html>
